@import 'table';


:host {
    display: flex;
    justify-content: space-between;
    flex-grow: 0;
    padding: 0px 50px;
    max-height: 100vh;

    ::-webkit-scrollbar{
        width: 10px;
        &-thumb{
            background-color: rgba($color: $cor-primaria, $alpha: .4);
            border-radius: 10px;
        }
        &-track{
            background: transparent;
        }
    }
    .painel-direito {
        height:100vh;
    
    }

    .lista {
        padding: 0px 15px;
        width: 100%;
        padding-bottom: 20px;
        max-height: 100%;
        overflow-y: scroll;
    }
    

}
