
//Minha paleta de cores

$cor-fundo:#7CE1CA;
$cor-primaria:#37DBB5;
$cor-fundo-2: black;
$cor-fundo-3: #FFF;
$preto-transparent-30: #0000004D;
$preto-transparent-03: #00000008;
$preto-transparent-70: rgba(0,0,0,0.7);

$branco : $cor-fundo-3;




//cores padrões do projeto

/*$cor-fundo:#FBFEF4;
$cor-primaria:#37ab00;
$cor-fundo-2: black;
$cor-fundo-3: #FFF;
$preto-transparent-30: #0000004D;
$preto-transparent-03: #00000008;
$preto-transparent-70: rgba(0,0,0,0.7);

$branco : $cor-fundo-3*/